*{
    margin:0;
    border:0;
    box-sizing:border-box;
    
}
.choses{
    display: flex;
    justify-content: space-around;
    padding: 60px 30px 30px 30px;
    cursor: pointer;
    }
.wrapper{
    padding: 50px ;
    
}
h1{
    padding: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
background: rgb(139,85,15);
background: linear-gradient(0deg, rgba(139,85,15,1) 0%, rgba(81,51,112,1) 81%);
}
body{
    background-size: 1000px;
    background-image: url(https://image.shutterstock.com/image-vector/colorful-rock-paper-scissors-hand-600w-1633786861.jpg);
}
button{
    border-radius: 2px;
    padding: 20px;
    border-width: 10px;
background-color:rgb(20, 202, 44);
color: rgb(255, 254, 254);
margin: 80px 300px;




}
